/* main-menu */
.main-menu {
  font-family: poppins;
}
.main-menu .nav-item {
  margin-right: 50px;
}
.main-menu .img-recipe {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
.main-menu .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.main-menu ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}
.main-menu .category {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 10px 5px;
  width: 20;
  height: 20;
  background-color: #00d389;
  border-radius: 8px;
  /* border-style: solid;
  border-width: 2px;
  border-color: #00925f; */
}
.main-menu .toggle-btn {
  color: white;
  background-color: #efc81a;
  border-color: transparent;
  margin-right: 20px;
  padding: 7px 30px;
  font-size: 15px;
}
.main-menu .toggle-btn:hover,
.toggle-btn:focus {
  color: white;
  background-color: #b99b13;
  border-color: #b99b13;
}
.main-menu .toggle-btn:active {
  color: white;
  background-color: #a38912;
  border-color: #a38912;
}
.main-menu .toggle-btn:checked {
  background-color: #00e092;
  border-color: #00e092;
}
.main-menu .toggle-label {
  cursor: pointer;
}
.main-menu .toggle-checkbox {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-menu .toggle-checkbox:checked + .btn {
  background-color: #00e092;
  color: white;
}
.main-menu .toggle-checkbox:checked + .btn:hover,
.toggle-checkbox:checked + .btn:focus {
  color: white;
  background-color: #00bb79;
  border-color: #00bb79;
}
.main-menu .toggle-checkbox:checked + .btn:active {
  color: white;
  background-color: #00925f;
  border-color: #00925f;
}

/* registrasi */
.registrasi {
  height: 850px;
  font-family: poppins;
}
.registrasi .nav-item {
  margin-right: 50px;
}
.registrasi form {
  font-size: 15px;
}
.registrasi .form-check-input:checked {
  background-color: #efc81a;
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.registrasi .form-check-input:active {
  background-color: #efc81a;
}
.registrasi .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.registrasi ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* login */
.login {
  height: 850px;
  font-family: poppins;
}
.login .nav-item {
  margin-right: 50px;
}
.login form {
  font-size: 15px;
}
.login .form-check-input:checked {
  background-color: #efc81a;
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.login .form-check-input:active {
  background-color: #efc81a;
}
.login .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.login ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* landing-page */
.landing-page {
  font-family: poppins;
}
.landing-page .nav-item {
  margin-right: 50px;
}
.landing-page .form-control {
  background-color: rgb(250, 250, 250);
  padding: 15px;
  padding-left: 60px;
  border-radius: 15px;
}
.landing-page .form-control::placeholder {
  color: #bebebe;
}
.landing-page .form-control:focus {
  background-color: #efefef;
  border-color: rgb(194, 194, 194);
  box-shadow: none;
}
.landing-page .search-form {
  position: relative;
}
.landing-page .search-input {
  background: url("./assets/search-logo.png") no-repeat;
  background-size: 20px 20px;
  background-color: #efefef;
  background-position: 20px center;
}
.landing-page .background-object {
  position: absolute;
  top: 0;
  z-index: -1;
}
.landing-page .container-relative {
  position: relative;
}
.landing-page .image-container {
  position: relative;
  width: 300px;
}
.landing-page .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 25px;
}
.landing-page .image-container img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* request-otp */
.request-otp {
  height: 100vh;
  font-family: poppins;
}
.request-otp .nav-item {
  margin-right: 50px;
}
.request-otp form {
  font-size: 15px;
}
.request-otp .form-check-input:checked {
  background-color: #efc81a;
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.request-otp .form-check-input:active {
  background-color: #efc81a;
}
.request-otp .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.request-otp ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* input-otp */
.input-otp {
  height: 700px;
  font-family: poppins;
}
.input-otp .nav-item {
  margin-right: 50px;
}
.input-otp form {
  font-size: 15px;
}
.input-otp .form-check-input:checked {
  background-color: #efc81a;
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.input-otp .form-check-input:active {
  background-color: #efc81a;
}
.input-otp .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.input-otp ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* reset-password */
.reset-password {
  height: 700px;
  font-family: poppins;
}
.reset-password .nav-item {
  margin-right: 50px;
}
.reset-password form {
  font-size: 15px;
}
.reset-password .form-check-input:checked {
  background-color: #efc81a;
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.reset-password .form-check-input:active {
  background-color: #efc81a;
}
.reset-password .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.reset-password ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* edit-menu */
.edit-menu {
  font-family: poppins;
}
.edit-menu .nav-item {
  margin-right: 50px;
}
.edit-menu .form-control {
  background-color: rgb(250, 250, 250);
  padding: 20px;
}
.edit-menu .form-control::placeholder {
  color: rgba(0, 0, 0, 0.349);
  vertical-align: top;
}
.edit-menu .form-control:focus {
  background-color: rgb(250, 250, 250);
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.edit-menu .form-select:focus {
  background-color: rgb(250, 250, 250);
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.edit-menu .upload-container {
  position: relative;
  border: 2px dashed #ccc;
  /* cursor: pointer; */
  /* background-image: url(egg-sandwich-picture.png); */
  /* background-size: cover;
    background-position: center; */
  /* overflow: hidden; */
  height: 300px;
}
/* .edit-menu .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} */
/* .edit-menu .upload-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.3);
} */
/* .edit-menu .upload-container input[type="file"] {
    display: none;
}
.edit-menu .upload-container img {
    max-width: 100px;
    max-height: 100px;
} */

/* edit-profile */
.edit-profile {
  height: 800px;
  font-family: poppins;
}
.edit-profile .nav-item {
  margin-right: 50px;
}
.edit-profile form {
  font-size: 15px;
}
.edit-profile .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.edit-profile ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* my-menu */
.my-menu {
  font-family: poppins;
}
.my-menu .img-recipe {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
.my-menu .nav-item {
  margin-right: 50px;
}
.my-menu .list-item {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
/* .my-menu .list-item.active {
    color: black;
    font-weight: 600;
}
.my-menu .list-item:not(.active) {
    color: gray;
} */
.my-menu .category {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 10px 5px;
  width: 20;
  height: 20;
  background-color: #00d389;
  border-radius: 8px;
  /* border-style: solid;
  border-width: 2px;
  border-color: #00925f; */
}

/* detail-profile-bookmarked */
.detail-profile-bookmarked {
  font-family: poppins;
}
.detail-profile-bookmarked .nav-item {
  margin-right: 50px;
}
.detail-profile-bookmarked .list-item {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.detail-profile-bookmarked .list-item.active {
  color: black;
  font-weight: 600;
}
.detail-profile-bookmarked .list-item:not(.active) {
  color: gray;
}
.detail-profile-bookmarked .like-comment-bookmark {
  background-color: #efc81a;
  color: white;
  padding: 10px 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 15px;
}

/* detail-menu */
.detail-menu {
  font-family: poppins;
}
.detail-menu .nav-item {
  margin-right: 50px;
}
.detail-menu .not-active-btn {
  color: #efc81a;
  background-color: transparent;
  border-color: #efc81a;
  border-width: 2px;
  margin-right: 20px;
  padding: 7px 15px;
  font-size: 15px;
  cursor: pointer;
}
.detail-menu .active-btn {
  color: white;
  background-color: #efc81a;
  border-color: #efc81a;
  border-width: 2px;
  margin-right: 20px;
  padding: 7px 15px;
  font-size: 15px;
  cursor: pointer;
}
.detail-menu .toggle-btn:hover {
  color: white;
  background-color: transparent;
  border-color: #c9a815;
}
.detail-menu .toggle-btn.active .fas {
  color: white;
}
.detail-menu .form-control {
  background-color: rgb(250, 250, 250);
  padding: 20px;
}
.detail-menu .form-control::placeholder {
  color: rgba(0, 0, 0, 0.349);
  vertical-align: top;
}
.detail-menu .form-control:focus {
  background-color: rgb(250, 250, 250);
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.detail-menu .img-recipe {
  height: 400px;
  width: 600px;
  background: #efc81a;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

/* change-password */
.change-password {
  height: 600px;
  font-family: poppins;
}
.change-password .nav-item {
  margin-right: 50px;
}
.change-password form {
  font-size: 15px;
}
.change-password .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.change-password ::placeholder {
  color: rgba(0, 0, 0, 0.349) !important;
}

/* add-menu */
.add-menu {
  font-family: poppins;
}
.add-menu .nav-item {
  margin-right: 50px;
}
.add-menu .form-control {
  background-color: rgb(250, 250, 250);
  padding: 20px;
}
.add-menu .form-control::placeholder {
  color: rgba(0, 0, 0, 0.349);
  vertical-align: top;
}
.add-menu .form-control:focus {
  background-color: rgb(250, 250, 250);
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.add-menu .form-select:focus {
  background-color: rgb(250, 250, 250);
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(239, 200, 26, 0.5);
}
.add-menu .upload-container {
  border: 2px dashed #ccc;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  height: 300px;
}
.add-menu .upload-container:hover {
  background-color: #f9f9f9;
}
.add-menu .upload-container input[type="file"] {
  display: none;
}
.add-menu .upload-container img {
  max-width: 100px;
  max-height: 100px;
}

/* navbar */
.navbar {
  font-family: poppins;
}
.navbar .nav-item {
  margin-right: 50px;
}

.navbar .nav-link.active {
  text-decoration: underline;
}

.navbar .profile-picture {
  height: 40px;
  width: 40px;
  background: #efc81a;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
}

/* footer */
.footer {
  font-family: poppins;
}
